body {
    background: radial-gradient(#CFB997, #ffffed);
}

.content-screen {
    height: 80vh;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.map-wrapper{
    display: block;
    width: 100%;
    height: 73vh;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.content-container {
    width: 50%;
    -webkit-box-shadow: 0px 0px 15px 5px #838383; 
    box-shadow: 0px 0px 15px 5px #838383;
    background-color: white;
}

.nav-bar-wrapper {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: 1px solid grey;
    background-color: white;
}

.main-header-text {
    margin-top: 0;
    margin-bottom: 20px;
}

.info-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.info-btn {
    margin: 8px;
    background: transparent;
    border: none;
    outline: none;
}

.info-btn-img {
    background-image: url("./assets/info-btn.png");
    background-size:40px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
}

.info-btn-img:hover {
    background-image: url("./assets/info-btn-pressed.png");
    width: 40px;
    height:40px;
}

.tab-button {
    width: 250px;
    height: 35px;
    font-size: 22px;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: lightgrey;
}

.tab-button.active {
    background-color: #ccc;
}

/* Info box when marker is clicked */
.info-box {
    width: 100px;
}

.gm-style .gm-style-iw {
    font-size: 18px;
}

.prog-bar-container {
    margin-top: 0;
    background-color: white;
}

.prog-bar-wrapper{
    width: 100%;
    background-color: lightgrey;
    margin: 0;
    text-align: center;
}

.prog-bar{
    height: 24px;
    width: 0%;
    background-color: green;
    margin: 0;
    transition: width 1s;
    text-align: center;
    font-size: 24px;
}

.prog-bar-header {
    font-size: 32px;
    height: 100%;
    margin: 5px;
    text-align: center;   
}

