#map {
    height: 700px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.map-info {
    width: 50%;
}

.map-infotext-wrapper {
    width: 100%;
    text-align: center;
}

.info-box {
    width: 100px;
}