.content-screen {
    height: 700px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.content-container {
    width: 50%;
    -webkit-box-shadow: 0px 0px 15px 5px #838383; 
    box-shadow: 0px 0px 15px 5px #838383;
}

.nav-bar-wrapper {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: 1px solid grey;
    background-color: white;
}

.main-header-text {
    margin-top: 0;
    margin-bottom: 20px;
}

.info-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.info-btn {
    margin: 8px;
    background: transparent;
    border: none;
    outline: none;
}

.info-btn-img {
    background-image: url("./assets/info-btn.png");
    background-size:40px;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
}

.info-btn-img:hover {
    background-image: url("./assets/info-btn-pressed.png");
    width: 40px;
    height:40px;
}

.tab-button {
    width: 250px;
    height: 35px;
    font-size: 22px;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: lightgrey;
}

.tab-button.active {
    background-color: #ccc;
}

/* Info box when marker is clicked */
.info-box {
    width: 100px;
}
