.info-popup-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.info-popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid;
    width: 50%;
    font-size: 18px;
}

.close-btn {
    color: rgb(114, 114, 114);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
}